#root > div > div.container {
  padding: 2em 0;
}

div.card.floatHover {
  transition: box-shadow 0.2s linear;
  cursor: pointer;
}

div.card.floatHover:hover {
  box-shadow: 0px 0px 25px rgba(0,0,0,0.4);
}

.joinedBadges .badge:first-child {
  border-radius: 0.25rem 0px 0px 0.25rem;
}

.joinedBadges .badge:last-child {
  border-radius: 0px 0.25rem 0.25rem 0px;
}

.bottomRightCardBody {
  position: relative;
  bottom: 0px;
  right: 0px;
}

div.thumbnail-container {
  padding: 0px;
}

div.thumbnail-container img.thumbnail {
  max-width: 100%;
  margin-bottom: 10px;
}

.userIdentification {
  color: white;
  margin-right: 10px;

  img {
    height: 35px;
    width: 35px;
    margin-right: 8px;
  }

}

