<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Callback</title>
  </head>
  <body>
    <script>
      let url = window.location.href;
      let token = url.split(/access_token=(.+?)&/)[1];
      let profile = url.split(/id_token=(.+?)$/)[1];
      localStorage.setItem("accessToken", token);
      localStorage.setItem("profile", profile);
      window.location.href = '/';
    </script>
  </body>
</html>
